@import '~/styles/variables';
.wrap {
  font-size: 12px;
  color: rgb(64, 64, 64);
  text-align: center;
  line-height: 2.5em;
  border-radius: 4px;
  background-color: $GRAY_009;
  padding: 15px;
  width: 83%;
  height: 15%;
  margin-top: 60px;
}
.first {
  display: flex;
  justify-content: space-between;
}
.second {
  display: flex;
}

.third {
  display: flex;
  font-size: 13px;
}
.third div {
  padding-right: 5px;
}
.title {
  font-size: 16px;
}

.voteState {
  margin-right: 0;
  margin-left: 6px;
  --process: rgb(26, 188, 156);
  --end: $GRAY_001;
}
div.process {
  color: var(--process);
}
div.end {
  color: var(--end);
}

.votebutton {
  padding-bottom: 2px;
  margin-right: 8px;
  border-radius: 3px;
  background-color: rgb(52, 152, 219);
}
.voteresult {
  padding-bottom: 2px;
  margin-right: 8px;
  border-radius: 3px;
}
