@import '~/styles/variables';
.wrap {
  height: 12%;
  line-height: 2.5em;
  padding: 15px;
  margin-top: 60px;
  border-radius: 4px;
  background-color: $GRAY_009;
  color: $BLACK_000;
  font-size: 12px;
  text-align: center;
}
.wrapTitle {
  display: flex;
  justify-content: space-between;
}
.wrapTargetPeople {
  display: flex;
}
.wrapVoteInfo {
  display: flex;
  position: relative;
  top: -15%;

  div {
    display: flex;
    padding: 0 3px 2px 0;
    align-items: center;

    div {
      padding-left: 2px;
    }
    img {
      padding-bottom: 2px;
    }
  }
}
.title {
  font-size: 16px;
}
.voteState {
  margin: 0 0 0 6px;
}
.process {
  color: $GREEN_003;
}
.end {
  color: $BLACK_000;
}
.votebutton {
  width: 61px;
  height: 25px;
  margin: 0 0 7px 5px;
  border-radius: 3px;
  background-color: $BLUE_000;
  font-size: 12px;
}
.voteresult {
  width: 61px;
  height: 25px;
  margin: 0 0 7px 5px;
  background-color: $GRAY_002;
  border-radius: 3px;
  font-size: 12px;
}
